<div class="chat">
  <div class="chat-header">
    <div class="chat-group">
      <div class="chat-group-name">
        hogefuga
      </div>
    </div>
    <div class="chat-delete">
      <div class="delete-button">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
  <div class="chat-main">
    <%= render partial: "message", collection: @messages %>
  </div>
  <%= form_with model: [@room, @message], class: "chat-form", local: true do |form| %>
    <div class="form-input">
      <%= form.text_field :content,  placeholder:"type a message", class: "input-text"%>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= form.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= form.submit "送信", class: "submit-button" %>
  <% end %>
</div>
